[user]
	name = a.harada
	email = redhornet96@gmail.com 
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
	precomposenicode = true
	editor = /usr/bin/vim
[merge]
  keepBackup = false;
	tool = sublime
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[credential]
	helper = osxkeychain
[alias]
	graph = log --graph --decorate --oneline
  st = status
	c = commit -v
	co = checkout
[diff]
    external = git_diff_wrapper
[pager]
    diff =
