[user]
	name = a.harada
	email = redhornet96@gmail.com 
[core]
	excludesfile = ~/.gitignore
	quotepath = false
	precomposeunicode = true
	precomposenicode = true
	editor = /usr/bin/vim
[merge]
  keepBackup = false;
	tool = sublime
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[credential]
	helper = osxkeychain
[alias]
	graph = log --graph --decorate --oneline
  st = status
	c = commit -v
