'body':
  'cmd-k l': 'pane:split-right'
  'cmd-k h': 'pane:split-left'
  'cmd-k j': 'pane:split-down'
  'cmd-k k': 'pane:split-up'
  'cmd-shift-k l': 'window:focus-pane-on-right'
  'cmd-shift-k h': 'window:focus-pane-on-left'
  'cmd-shift-k j': 'window:focus-pane-below'
  'cmd-shift-k k': 'window:focus-pane-above'

'.platform-darwin atom-text-editor':
  'f3': 'atom-ctags:go-to-declaration'
  'shift-f3': 'atom-ctags:return-from-declaration'
